html {
    overscroll-behavior: none;
}

@font-face {
    font-family: outfit;
    src: url(./../Outfit/Outfit-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: outfit, "Poppins", sans-serif;
    background: linear-gradient(to right bottom, rgba(7, 9, 25), rgba(12, 16, 27));
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

body::before {
    content: "";
    background: url('./../assets/IMG/brush_grungy_wall_textured_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.05;
    z-index: -1;
}


.result-card {
    max-width: 650px;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(25, 33, 56), rgb(27, 43, 94));
    padding: 35px;
    border-radius: 20px;
    backdrop-filter: blur(14px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    animation: fadeIn 0.7s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 28px;
    background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;

}

.summary {
    text-align: center;
    font-size: 16px;
    opacity: 0.85;
    margin-bottom: 25px;
}

.diagnosis-box {
    background: rgba(255, 255, 255, 0.12);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
    border-left: 5px solid #ffa638;
    animation: slideUp 0.6s ease;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
        background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;

}

.desc {
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
    font-family: sans-serif;
}

.btn-container {
    text-align: center;
    margin-top: 30px;
}

button {
    padding: 12px 28px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s;
    margin: 0 8px;
    box-shadow: 0 0 6px rgba(255, 255, 255, .2);
}

.btn-again {
    background:#ffa638;
    color: #fff;
}

.btn-again:hover {
    background: #ff6f1c;
    transform: scale(1.04);
}

.btn-home {
    background: #475569;
    color: #fff;
}

.btn-home:hover {
    background: #64748b;
    transform: scale(1.04);
}