*{
    padding:0;
    margin:0;
}

a{
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: outfit, "Poppins", sans-serif;
    background: linear-gradient(to right bottom, rgba(7, 9, 25),rgba(12, 16, 27));
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.45);
    z-index: 1000;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;
}

nav a {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.25s;
}

nav a:hover {
    color: #ff6a00;
}