:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: outfit;
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: .25s;
}

a:hover{
    transform: scale(1.05);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    padding:20px 35px;
    font-family: outfit;
}

#right-nav-container{
    display: flex;
    align-items: center;
    gap:100px;
}

