:root{
    font-family: sans-serif, roboto;
}

*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: outfit;
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}

body{
    position: relative;
    background: linear-gradient(to bottom, lightblue, 68%, rgb(63, 207, 255));
    height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: .25s;
}

#header{
    display: flex;
    position: fixed;
    top:15px;
    width: 100%;
    justify-content: center;
}

nav{
    display: flex;
    padding:17px 50px;
    border: none;
    border-radius: 9999px;
    align-items: center;
    gap:150px;
    font-family: outfit;

    /* Glassmorphism css */
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border:1x solid black;
    box-shadow: 0 0 6px rgba(255, 255, 255, .5);

}

nav > h1{
    font-family: outfit;
    font-size: 1.4rem;
    font-weight: 500;
}

nav > #center-container{
    display: flex;
    gap:30px;
    font-size: .95rem;
}

nav > #center-container > a {
    color:rgb(0, 0, 0);
    
}
nav > #center-container > a:hover {
    color:rgb(0, 207, 255);
    transform: translateY(-2px);
}

nav > #consult-button{
    background-color: rgb(63, 207, 255);
    color: black;
    font-family: outfit;
    padding: 10px 26px;
    border: none;
    border-radius: 100px;
    font-size: 1.05rem;
    cursor: pointer;
    transition: .25s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}
nav > #consult-button:hover{
    transform: scale(1.03);
}

#hero-container{
    padding:160px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:200px;
}

#hero-container > #left-container{
    /* padding: 0 20%; */
    /* margin-right: 500px; */
}

#hero-container  h2 {
    line-height: 30px;
    text-align: center;
    font-family: outfit;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    font-weight: bold;
}

#hero-container p {
    font-family: sans-serif;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
}

#hero-image{
    height: auto;
    width: 150px;
}