:root{
    scroll-behavior: smooth;
}

@font-face {
    font-family: outfit;
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}

*{
    padding:0;
    margin:0;
}

a{
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: outfit, "Poppins", sans-serif;
    background: linear-gradient(to right bottom, rgba(7, 9, 25),rgba(12, 16, 27));
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.45);
    z-index: 1000;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;
}

nav a {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.25s;
}

nav a:hover {
    color: #ff6a00;
}

/* HERO SECTION */
.hero {
    background: url(./assets/IMG/Hero-BG.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    text-align: center;
    padding: 0 5%;
    animation: fadeIn 1s ease;
}

#black-overlay{
    position: absolute;
    width: 100%;
    top:0;
    bottom:0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
    z-index: 0;
}

.hero h2 {
    font-size: 48px;
    max-width: 900px;
    font-weight: 800;
    background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
}

.hero p {
    font-size: 18px;
    max-width: 750px;
    line-height: 2rem;
    opacity: 0.8;
    color: white;
}

.hero button {
    margin-top: 30px;
    padding: 14px 28px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #ff7b00;
    color: white;
    font-weight: 600;
    transition: 0.25s;
    box-shadow: 0 0 12px rgba(255, 255, 255, .15);
    z-index: 1;
}

.hero button:hover {
    transform: translateY(-4px);
    background: #ff5e00;
    box-shadow: 0 0 12px rgba(255, 255, 255, .3);
}

#about p{
    text-align:center;
    color: white;
    max-width:750px; 
    margin:auto; 
    font-size:17px;
}

/* SCROLL ANIMATION */
[data-animate] {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

[data-animate].active {
    opacity: 1;
    transform: translateY(0);
}

/* SECTION FITUR */
.section {
    padding: 100px 20px;
    max-width: 1100px;
    margin: auto;
}

.section h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;
}

.fitur-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    padding: 25px;
    border-radius: 15px;
    background: rgba(25, 33, 56);
    box-shadow: 0 0px 15px rgba(255, 255, 255, .05);
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0px 15px rgba(255, 255, 255, .12);
}

.card h4 {
    margin-top: 0;
    background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
}

/* FOOTER */
footer {
    background: rgb(17, 22, 38);
    box-shadow: 0 0 12px rgba(255, 255, 255, .05);
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}