:root{
    font-family: sans-serif, roboto;
}

*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: outfit;
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}

body{
    position: relative;
    /* background: url(./assets/IMG/Landscape\ Ps5\ GIF\ by\ PlayStation.gif); */
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: .25s;
}

#header{
    display: flex;
    position: fixed;
    top:15px;
    width: 100%;
    justify-content: center;
}

nav{
    display: flex;
    padding:17px 70px;
    border: none;
    border-radius: 9999px;
    align-items: center;
    gap:150px;
    font-family: outfit;

    /* Glassmorphism css */
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border:1x solid black;
    box-shadow: 0 0 6px rgba(255, 255, 255, .5);

}

nav > h1{
    font-family: outfit;
    font-size: 1.4rem;
    font-weight: 500;
}

nav > #center-container{
    display: flex;
    gap:30px;
    font-size: .95rem;
}

nav > #center-container > a {
    color:rgb(0, 0, 0);
    
}
nav > #center-container > a:hover {
    color:rgb(255, 255, 255);
    transform: translateY(-2px);
}

nav > #consult-button{
    background-color: rgb(3, 0, 189);
    color: white;
    font-family: outfit;
    padding: 10px 26px;
    border: none;
    border-radius: 100px;
    font-size: .95rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .25s;
}
nav > #consult-button:hover{
    transform: scale(1.03);
}
