body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #d4f1ff, #7fd3f7);
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    border-radius: 0 0 25px 25px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #222;
}

.nav-links a {
    margin: 0 20px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.btn-consult {
    padding: 10px 25px;
    background: #00b7ff;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-consult:hover {
    background: #028fd1;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 2rem;
    font-weight: 700;
}

.hero p {
    margin-top: -10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.hero img {
    width: 350px;
    margin-top: 40px;
}

/* CTA BUTTON */
.start-btn {
    margin-top: 40px;
    padding: 15px 40px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.start-btn:hover {
    background: #005fcc;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero h1 {
        font-size: 1.6rem;
    }

    .hero img {
        width: 250px;
    }
}