html{
    overscroll-behavior: none;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: outfit, "Poppins", sans-serif;
    background: linear-gradient(to right bottom, rgba(7, 9, 25), rgba(12, 16, 27));
    position: relative;
    min-height: 100vh;
    padding: 1px;
}

.texture-bg{
    background: url(./../assets/IMG/brush_grungy_wall_textured_background.png);
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    opacity: .03;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;
}

nav a {
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.25s;
}

nav a:hover {
    color: #ff6a00;
}

.container {
    max-width: 600px;
    margin: 95px auto;
    background: rgba(25, 33, 56);
    box-shadow: 0 0px 15px rgba(255, 255, 255, .1);
    padding:50px 40px;
    border-radius: 18px;
    animation: fadeIn 0.9s ease;
    color: white;
    display: flex;
    flex-direction: column;
    
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    background: linear-gradient(90deg, #ffa638, #ff6f1c);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

.container form{
    display: flex;
    flex-direction: column;
    gap:5px;
}

label {
    font-weight: 600;
    margin-top: 12px;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    box-sizing: border-box; /* supaya input tidak melebihi batas padding*/
    padding: 12px 16px;
    margin-top: 6px;
    border-radius: 10px;
    font-size: 15px;
    outline: 2px solid #ffcf75;
    transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    outline:5px solid #ff9500;
    box-shadow: 0 0 12px rgba(255, 255, 255, .25);
}

textarea {
    height: 120px;
    resize: none;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 25px;
    background: #ff7b00;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    box-shadow: 0 0 12px rgba(255, 255, 255, .15);
}

button:hover {
    transform: translateY(-3px);
    background: #ff5e00;
    box-shadow: 0 0 12px rgba(255, 255, 255, .25);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* TO DO Add blob behind the container section to make the page a little bit more "alive" */